.registration-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.registration-container form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.registration-container form input {
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}

.registration-container form input::placeholder {
  color: #999;
}

.registration-container form button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  background: dodgerblue;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.registration-container form img {
  margin-bottom: 50px;
  border-radius: 0%;
}
